@import 'tailwindcss';

/* Custom dark variant (Tailwind v4 style) */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* --------------------
   Font setup
-------------------- */
@font-face {
  font-family: 'Bungee';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/bungee-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/rubik-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/rubik-bold.woff2') format('woff2');
}

@theme {
  --font-Bungee: Bungee, ui-sans-serif, system-ui, sans-serif;
  --font-Rubik: Rubik, ui-sans-serif, system-ui, sans-serif;
  --tracking-tightest: -0.075em;
  --color-base: #c0ccd3;
}

body {
  @apply bg-base;
}

.neumorphism {
  @apply rounded-lg bg-base;
  box-shadow:
    5px 5px 10px #a3adb3,
    -5px -5px 10px #ddebf3;
}
.neumorphism-inner {
  @apply rounded-lg bg-base;
  box-shadow:
    inset -5px -5px 5px #ddebf3,
    inset 5px 5px 5px #a3adb3;
}
.underline-animation {
  position: relative;
}

.link {
  @apply transition-colors duration-300;
}

.link:hover {
  @apply text-sky-500;
}

.underline-animation::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  @apply bg-sky-500;
  transition: width 300ms ease;
}

.underline-animation:hover::after {
  width: 100%;
}
* {
  transition:
    background-color 0.3s ease-out,
    color 0.3s ease-out;
}
