@import 'tailwindcss';
@plugin "daisyui" {
  themes: night --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: 'clean';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: #f4f4f5;
  --color-base-300: #e4e4e7;
  --color-base-content: #11181c;
  --color-primary: #006fee;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: #7828c8;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(58% 0.158 241.966);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #17c964;
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #f5a524;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #f31260;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@font-face {
  font-family: 'Atkinson';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/atkinson-regular.woff') format('woff');
}

@font-face {
  font-family: 'Atkinson';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/atkinson-bold.woff') format('woff');
}

@font-face {
  font-family: 'Quantico';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/quantico-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/quantico-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Bungee';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/bungee-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/rubik-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/rubik-bold.woff2') format('woff2');
}

@theme {
  --font-Atkinson: Atkinson, ui-sans-serif, system-ui, sans-serif;
  --font-Quantico: Quantico, ui-sans-serif, system-ui, sans-serif;
  --font-Bungee: Bungee, ui-sans-serif, system-ui, sans-serif;
  --font-Rubik: Rubik, ui-sans-serif, system-ui, sans-serif;
  --tracking-tightest: -0.075em;
}
