---
import Layout from '../layouts/Layout.astro';
---

<Layout title="EITAAR" description="EITAAR's portfolio and projects">
  <div class="flex min-h-screen items-center justify-center">
    <div class="card neumorphism color-base flex flex-col items-center justify-center p-6">
      <h2 class="mb-4 font-Bungee text-8xl tracking-tight text-blue-900">EITAAR</h2>
      <div class="neumorphism-inner w-full">
        <nav class="flex flex-wrap justify-center gap-8 rounded-xl p-4">
          <a href="/about" class="underline-animation group link font-Rubik text-2xl font-bold">
            About
          </a>
          <a href="/projects" class="underline-animation group link font-Rubik text-2xl font-bold">
            Projects
          </a>
          <a href="/blog" class="underline-animation group link font-Rubik text-2xl font-bold">
            Blog
          </a>
        </nav>
      </div>
    </div>
  </div>
</Layout>
